
<!DOCTYPE html>
<!-- saved from url=(0052)https://www.athenastudio.co/themes/selene/slide.html -->
<html lang="en-US" class=" js canvas no-touch">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Marketing Portal | Manage All Marketing</title>
    <link rel="icon" href="~/img/juray.png" type="image/x-icon" />

    <!-- Font awesome -->
    <link rel="stylesheet" type="text/css" href="~/file/all.min.css">


    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/file/style.css">
    <link rel="stylesheet" type="text/css" href="~/file/media.css">

    <!-- Color schema -->
    <link rel="stylesheet" type="text/css" href="~/file/orange.css" class="colors">

    <!-- YTPlayer -->
    <link rel="stylesheet" type="text/css" href="~/file/jquery.mb.ytplayer.min.css">


    <link href="~/file/scroll.css" rel="stylesheet" />

</head>

<body>

    <div class="wrap" id="bg-slide">

        <!-- Main -->
        <div id="main">
            <div class="inner" style="opacity: 1;">


            </div>

        </div>



    </div>

    <!-- Background overlay -->
    <div class="body-bg">
    </div>

    <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon="" asp-page="/Account/Login" asp-route-area="Identity"></a>

    <!-- jQuery -->
    <script src="~/file/jquery.js"></script>

    <!-- Plugins -->
    <script src="~/file/modernizr.custom.js"></script>
    <script src="~/file/jquery.backstretch.min.js"></script>
    <script src="~/file/jquery.plugin.min.js"></script>
    <script src="~/file/jquery.countdown.min.js"></script>
    <script src="~/file/jquery.validate.min.js"></script>
    <script src="~/file/jquery.placeholder.min.js"></script>
    <script src="~/file/jquery.mb.ytplayer.min.js"></script>

    <!-- Main -->
    <script src="~/file/main.js"></script>



    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 105%; width: 100%; z-index: -999999; position: fixed;">
        <div class="backstretch-item deleteable" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 100%; height: 105%; z-index: -999999;">
            <img alt="" src="~/img/dashboard.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 100%; height: 105%; max-width: none; inset: -54.9062px auto auto 0px;">
        </div>
        <div class="backstretch-item" style="position: absolute; display: none; margin: 0px; padding: 0px; border: none; width: 100%; height: 105%; z-index: -999999;">
            <img alt="" src="~/img/dashboard.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 100%; height: 105%; max-width: none; inset: -378.5px auto auto 0px;">
        </div>
    </div>
</body>
</html>
@RenderBody()

@RenderSection("Scripts", required: false)
