 .bg-xyz-1 {
    background-color: #FF0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-2 {
    background-color: #00FF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-3 {
    background-color: #0000FF !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-4 {
    background-color: #FFFF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-5 {
    background-color: #00FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-6 {
    background-color: #FF00FF !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-7 {
    background-color: #000000 !important;
    color: white !important;
}

.bg-xyz-8 {
    background-color: #FFFFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-9 {
    background-color: #C0C0C0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-10 {
    background-color: #808080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-11 {
    background-color: #800000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-12 {
    background-color: #808000 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-13 {
    background-color: #008000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-14 {
    background-color: #800080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-15 {
    background-color: #008080 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-16 {
    background-color: #000080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-17 {
    background-color: #F0F8FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-18 {
    background-color: #FAEBD7 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-19 {
    background-color: #00FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-20 {
    background-color: #7FFFD4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-21 {
    background-color: #F0FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-22 {
    background-color: #F5F5DC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-23 {
    background-color: #FFE4C4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-24 {
    background-color: #000000 !important;
    color: white !important;
}

.bg-xyz-25 {
    background-color: #FFEBCD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-26 {
    background-color: #0000FF !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-27 {
    background-color: #8A2BE2 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-28 {
    background-color: #A52A2A !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-29 {
    background-color: #DEB887 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-30 {
    background-color: #5F9EA0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-31 {
    background-color: #7FFF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-32 {
    background-color: #D2691E !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-33 {
    background-color: #FF7F50 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-34 {
    background-color: #6495ED !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-35 {
    background-color: #FFF8DC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-36 {
    background-color: #DC143C !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-37 {
    background-color: #00FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-38 {
    background-color: #00008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-39 {
    background-color: #008B8B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-40 {
    background-color: #B8860B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-41 {
    background-color: #A9A9A9 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-42 {
    background-color: #006400 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-43 {
    background-color: #BDB76B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-44 {
    background-color: #8B008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-45 {
    background-color: #556B2F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-46 {
    background-color: #FF8C00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-47 {
    background-color: #9932CC !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-48 {
    background-color: #8B0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-49 {
    background-color: #E9967A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-50 {
    background-color: #8FBC8F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-51 {
    background-color: #483D8B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-52 {
    background-color: #2F4F4F !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-53 {
    background-color: #00CED1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-54 {
    background-color: #9400D3 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-55 {
    background-color: #FF1493 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-56 {
    background-color: #00BFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-57 {
    background-color: #696969 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-58 {
    background-color: #1E90FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-59 {
    background-color: #B22222 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-60 {
    background-color: #FFFAF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-61 {
    background-color: #228B22 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-62 {
    background-color: #FF00FF !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-63 {
    background-color: #DCDCDC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-64 {
    background-color: #F8F8FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-65 {
    background-color: #FFD700 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-66 {
    background-color: #DAA520 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-67 {
    background-color: #808080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-68 {
    background-color: #008000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-69 {
    background-color: #ADFF2F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-70 {
    background-color: #F0FFF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-71 {
    background-color: #FF69B4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-72 {
    background-color: #CD5C5C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-73 {
    background-color: #4B0082 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-74 {
    background-color: #FFFFF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-75 {
    background-color: #F0E68C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-76 {
    background-color: #E6E6FA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-77 {
    background-color: #FFF0F5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-78 {
    background-color: #7CFC00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-79 {
    background-color: #FFFACD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-80 {
    background-color: #ADD8E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-81 {
    background-color: #F08080 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-82 {
    background-color: #E0FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-83 {
    background-color: #FAFAD2 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-84 {
    background-color: #D3D3D3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-85 {
    background-color: #90EE90 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-86 {
    background-color: #FFB6C1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-87 {
    background-color: #FFA07A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-88 {
    background-color: #20B2AA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-89 {
    background-color: #87CEFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-90 {
    background-color: #778899 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-91 {
    background-color: #B0C4DE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-92 {
    background-color: #FFFFE0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-93 {
    background-color: #00FF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-94 {
    background-color: #32CD32 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-95 {
    background-color: #FAF0E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-96 {
    background-color: #800000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-97 {
    background-color: #66CDAA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-98 {
    background-color: #0000CD !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-99 {
    background-color: #BA55D3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-100 {
    background-color: #9370DB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-101 {
    background-color: #3CB371 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-102 {
    background-color: #7B68EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-103 {
    background-color: #00FA9A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-104 {
    background-color: #48D1CC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-105 {
    background-color: #C71585 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-106 {
    background-color: #191970 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-107 {
    background-color: #F5FFFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-108 {
    background-color: #FFE4E1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-109 {
    background-color: #FFE4B5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-110 {
    background-color: #FFDEAD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-111 {
    background-color: #000080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-112 {
    background-color: #FDF5E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-113 {
    background-color: #808000 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-114 {
    background-color: #6B8E23 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-115 {
    background-color: #FFA500 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-116 {
    background-color: #FF4500 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-117 {
    background-color: #DA70D6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-118 {
    background-color: #EEE8AA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-119 {
    background-color: #98FB98 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-120 {
    background-color: #AFEEEE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-121 {
    background-color: #DB7093 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-122 {
    background-color: #FFEFD5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-123 {
    background-color: #FFDAB9 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-124 {
    background-color: #CD853F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-125 {
    background-color: #FFC0CB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-126 {
    background-color: #DDA0DD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-127 {
    background-color: #B0E0E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-128 {
    background-color: #800080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-129 {
    background-color: #663399 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-130 {
    background-color: #FF0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-131 {
    background-color: #BC8F8F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-132 {
    background-color: #4169E1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-133 {
    background-color: #8B4513 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-134 {
    background-color: #FA8072 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-135 {
    background-color: #F4A460 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-136 {
    background-color: #2E8B57 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-137 {
    background-color: #FFF5EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-138 {
    background-color: #A0522D !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-139 {
    background-color: #C0C0C0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-140 {
    background-color: #87CEEB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-141 {
    background-color: #6A5ACD !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-142 {
    background-color: #708090 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-143 {
    background-color: #FFFAFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-144 {
    background-color: #00FF7F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-145 {
    background-color: #4682B4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-146 {
    background-color: #D2B48C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-147 {
    background-color: #008080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-148 {
    background-color: #D8BFD8 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-149 {
    background-color: #FF6347 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-150 {
    background-color: #40E0D0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-151 {
    background-color: #EE82EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-152 {
    background-color: #F5DEB3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-153 {
    background-color: #FFFFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-154 {
    background-color: #F5F5F5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-155 {
    background-color: #FFFF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-156 {
    background-color: #9ACD32 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-157 {
    background-color: #8B008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-158 {
    background-color: #FAEBD7 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-159 {
    background-color: #00FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-160 {
    background-color: #00008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-161 {
    background-color: #008B8B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-162 {
    background-color: #B8860B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-163 {
    background-color: #A9A9A9 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-164 {
    background-color: #006400 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-165 {
    background-color: #BDB76B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-166 {
    background-color: #8B008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-167 {
    background-color: #556B2F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-168 {
    background-color: #FF8C00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-169 {
    background-color: #9932CC !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-170 {
    background-color: #8B0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-171 {
    background-color: #E9967A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-172 {
    background-color: #8FBC8F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-173 {
    background-color: #483D8B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-174 {
    background-color: #2F4F4F !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-175 {
    background-color: #00CED1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-176 {
    background-color: #9400D3 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-177 {
    background-color: #FF1493 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-178 {
    background-color: #00BFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-179 {
    background-color: #696969 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-180 {
    background-color: #1E90FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-181 {
    background-color: #B22222 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-182 {
    background-color: #FFFAF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-183 {
    background-color: #228B22 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-184 {
    background-color: #FF00FF !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-185 {
    background-color: #DCDCDC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-186 {
    background-color: #F8F8FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-187 {
    background-color: #FFD700 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-188 {
    background-color: #DAA520 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-189 {
    background-color: #808080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-190 {
    background-color: #008000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-191 {
    background-color: #ADFF2F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-192 {
    background-color: #F0FFF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-193 {
    background-color: #FF69B4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-194 {
    background-color: #CD5C5C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-195 {
    background-color: #4B0082 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-196 {
    background-color: #FFFFF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-197 {
    background-color: #F0E68C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-198 {
    background-color: #E6E6FA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-199 {
    background-color: #FFF0F5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-200 {
    background-color: #7CFC00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-201 {
    background-color: #FFFACD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-202 {
    background-color: #ADD8E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-203 {
    background-color: #F08080 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-204 {
    background-color: #E0FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-205 {
    background-color: #FAFAD2 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-206 {
    background-color: #D3D3D3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-207 {
    background-color: #90EE90 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-208 {
    background-color: #FFB6C1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-209 {
    background-color: #FFA07A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-210 {
    background-color: #20B2AA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-211 {
    background-color: #87CEFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-212 {
    background-color: #778899 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-213 {
    background-color: #B0C4DE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-214 {
    background-color: #FFFFE0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-215 {
    background-color: #00FF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-216 {
    background-color: #32CD32 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-217 {
    background-color: #FAF0E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-218 {
    background-color: #800000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-219 {
    background-color: #66CDAA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-220 {
    background-color: #0000CD !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-221 {
    background-color: #BA55D3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-222 {
    background-color: #9370DB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-223 {
    background-color: #3CB371 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-224 {
    background-color: #7B68EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-225 {
    background-color: #00FA9A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-226 {
    background-color: #48D1CC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-227 {
    background-color: #C71585 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-228 {
    background-color: #191970 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-229 {
    background-color: #F5FFFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-230 {
    background-color: #FFE4E1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-231 {
    background-color: #FFE4B5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-232 {
    background-color: #FFDEAD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-233 {
    background-color: #000080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-234 {
    background-color: #FDF5E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-235 {
    background-color: #808000 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-236 {
    background-color: #6B8E23 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-237 {
    background-color: #FFA500 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-238 {
    background-color: #FF4500 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-239 {
    background-color: #DA70D6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-240 {
    background-color: #EEE8AA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-241 {
    background-color: #98FB98 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-242 {
    background-color: #AFEEEE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-243 {
    background-color: #DB7093 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-244 {
    background-color: #FFEFD5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-245 {
    background-color: #FFDAB9 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-246 {
    background-color: #CD853F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-247 {
    background-color: #FFC0CB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-248 {
    background-color: #DDA0DD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-249 {
    background-color: #B0E0E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-250 {
    background-color: #800080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-251 {
    background-color: #663399 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-252 {
    background-color: #FF0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-253 {
    background-color: #BC8F8F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-254 {
    background-color: #4169E1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-255 {
    background-color: #8B4513 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-256 {
    background-color: #FA8072 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-257 {
    background-color: #F4A460 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-258 {
    background-color: #2E8B57 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-259 {
    background-color: #FFF5EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-260 {
    background-color: #A0522D !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-261 {
    background-color: #C0C0C0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-262 {
    background-color: #87CEEB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-263 {
    background-color: #6A5ACD !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-264 {
    background-color: #708090 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-265 {
    background-color: #FFFAFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-266 {
    background-color: #00FF7F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-267 {
    background-color: #4682B4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-268 {
    background-color: #D2B48C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-269 {
    background-color: #008080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-270 {
    background-color: #D8BFD8 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-271 {
    background-color: #FF6347 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-272 {
    background-color: #40E0D0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-273 {
    background-color: #EE82EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-274 {
    background-color: #F5DEB3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-275 {
    background-color: #FFFFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-276 {
    background-color: #F5F5F5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-277 {
    background-color: #FFFF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-278 {
    background-color: #9ACD32 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-279 {
    background-color: #8B008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-280 {
    background-color: #FAEBD7 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-281 {
    background-color: #00FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-282 {
    background-color: #00008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-283 {
    background-color: #008B8B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-284 {
    background-color: #B8860B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-285 {
    background-color: #A9A9A9 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-286 {
    background-color: #006400 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-287 {
    background-color: #BDB76B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-288 {
    background-color: #8B008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-289 {
    background-color: #556B2F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-290 {
    background-color: #FF8C00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-291 {
    background-color: #9932CC !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-292 {
    background-color: #8B0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-293 {
    background-color: #E9967A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-294 {
    background-color: #8FBC8F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-295 {
    background-color: #483D8B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-296 {
    background-color: #2F4F4F !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-297 {
    background-color: #00CED1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-298 {
    background-color: #9400D3 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-299 {
    background-color: #FF1493 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-300 {
    background-color: #00BFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-301 {
    background-color: #696969 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-302 {
    background-color: #1E90FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-303 {
    background-color: #B22222 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-304 {
    background-color: #FFFAF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-305 {
    background-color: #228B22 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-306 {
    background-color: #FF00FF !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-307 {
    background-color: #DCDCDC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-308 {
    background-color: #F8F8FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-309 {
    background-color: #FFD700 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-310 {
    background-color: #DAA520 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-311 {
    background-color: #808080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-312 {
    background-color: #008000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-313 {
    background-color: #ADFF2F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-314 {
    background-color: #F0FFF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-315 {
    background-color: #FF69B4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-316 {
    background-color: #CD5C5C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-317 {
    background-color: #4B0082 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-318 {
    background-color: #FFFFF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-319 {
    background-color: #F0E68C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-320 {
    background-color: #E6E6FA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-321 {
    background-color: #FFF0F5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-322 {
    background-color: #7CFC00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-323 {
    background-color: #FFFACD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-324 {
    background-color: #ADD8E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-325 {
    background-color: #F08080 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-326 {
    background-color: #E0FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-327 {
    background-color: #FAFAD2 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-328 {
    background-color: #D3D3D3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-329 {
    background-color: #90EE90 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-330 {
    background-color: #FFB6C1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-331 {
    background-color: #FFA07A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-332 {
    background-color: #20B2AA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-333 {
    background-color: #87CEFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-334 {
    background-color: #778899 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-335 {
    background-color: #B0C4DE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-336 {
    background-color: #FFFFE0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-337 {
    background-color: #00FF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-338 {
    background-color: #32CD32 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-339 {
    background-color: #FAF0E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-340 {
    background-color: #800000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-341 {
    background-color: #66CDAA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-342 {
    background-color: #0000CD !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-343 {
    background-color: #BA55D3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-344 {
    background-color: #9370DB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-345 {
    background-color: #3CB371 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-346 {
    background-color: #7B68EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-347 {
    background-color: #00FA9A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-348 {
    background-color: #48D1CC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-349 {
    background-color: #C71585 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-350 {
    background-color: #191970 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-351 {
    background-color: #F5FFFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-352 {
    background-color: #FFE4E1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-353 {
    background-color: #FFE4B5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-354 {
    background-color: #FFDEAD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-355 {
    background-color: #000080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-356 {
    background-color: #FDF5E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-357 {
    background-color: #808000 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-358 {
    background-color: #6B8E23 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-359 {
    background-color: #FFA500 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-360 {
    background-color: #FF4500 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-361 {
    background-color: #DA70D6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-362 {
    background-color: #EEE8AA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-363 {
    background-color: #98FB98 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-364 {
    background-color: #AFEEEE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-365 {
    background-color: #DB7093 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-366 {
    background-color: #FFEFD5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-367 {
    background-color: #FFDAB9 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-368 {
    background-color: #CD853F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-369 {
    background-color: #FFC0CB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-370 {
    background-color: #DDA0DD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-371 {
    background-color: #B0E0E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-372 {
    background-color: #800080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-373 {
    background-color: #663399 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-374 {
    background-color: #FF0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-375 {
    background-color: #BC8F8F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-376 {
    background-color: #4169E1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-377 {
    background-color: #8B4513 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-378 {
    background-color: #FA8072 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-379 {
    background-color: #F4A460 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-380 {
    background-color: #2E8B57 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-381 {
    background-color: #FFF5EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-382 {
    background-color: #A0522D !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-383 {
    background-color: #C0C0C0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-384 {
    background-color: #87CEEB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-385 {
    background-color: #6A5ACD !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-386 {
    background-color: #708090 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-387 {
    background-color: #FFFAFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-388 {
    background-color: #00FF7F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-389 {
    background-color: #4682B4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-390 {
    background-color: #D2B48C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-391 {
    background-color: #008080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-392 {
    background-color: #D8BFD8 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-393 {
    background-color: #FF6347 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-394 {
    background-color: #40E0D0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-395 {
    background-color: #EE82EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-396 {
    background-color: #F5DEB3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-397 {
    background-color: #FFFFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-398 {
    background-color: #F5F5F5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-399 {
    background-color: #FFFF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-400 {
    background-color: #9ACD32 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-401 {
    background-color: #8B008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-402 {
    background-color: #FAEBD7 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-403 {
    background-color: #00FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-404 {
    background-color: #00008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-405 {
    background-color: #008B8B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-406 {
    background-color: #B8860B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-407 {
    background-color: #A9A9A9 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-408 {
    background-color: #006400 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-409 {
    background-color: #BDB76B !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-410 {
    background-color: #8B008B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-411 {
    background-color: #556B2F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-412 {
    background-color: #FF8C00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-413 {
    background-color: #9932CC !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-414 {
    background-color: #8B0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-415 {
    background-color: #E9967A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-416 {
    background-color: #8FBC8F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-417 {
    background-color: #483D8B !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-418 {
    background-color: #2F4F4F !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-419 {
    background-color: #00CED1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-420 {
    background-color: #9400D3 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-421 {
    background-color: #FF1493 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-422 {
    background-color: #00BFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-423 {
    background-color: #696969 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-424 {
    background-color: #1E90FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-425 {
    background-color: #B22222 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-426 {
    background-color: #FFFAF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-427 {
    background-color: #228B22 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-428 {
    background-color: #FF00FF !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-429 {
    background-color: #DCDCDC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-430 {
    background-color: #F8F8FF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-431 {
    background-color: #FFD700 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-432 {
    background-color: #DAA520 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-433 {
    background-color: #808080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-434 {
    background-color: #008000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-435 {
    background-color: #ADFF2F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-436 {
    background-color: #F0FFF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-437 {
    background-color: #FF69B4 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-438 {
    background-color: #CD5C5C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-439 {
    background-color: #4B0082 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-440 {
    background-color: #FFFFF0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-441 {
    background-color: #F0E68C !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-442 {
    background-color: #E6E6FA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-443 {
    background-color: #FFF0F5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-444 {
    background-color: #7CFC00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-445 {
    background-color: #FFFACD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-446 {
    background-color: #ADD8E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-447 {
    background-color: #F08080 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-448 {
    background-color: #E0FFFF !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-449 {
    background-color: #FAFAD2 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-450 {
    background-color: #D3D3D3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-451 {
    background-color: #90EE90 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-452 {
    background-color: #FFB6C1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-453 {
    background-color: #FFA07A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-454 {
    background-color: #20B2AA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-455 {
    background-color: #87CEFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-456 {
    background-color: #778899 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-457 {
    background-color: #B0C4DE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-458 {
    background-color: #FFFFE0 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-459 {
    background-color: #00FF00 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-460 {
    background-color: #32CD32 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-461 {
    background-color: #FAF0E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-462 {
    background-color: #800000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-463 {
    background-color: #66CDAA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-464 {
    background-color: #0000CD !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-465 {
    background-color: #BA55D3 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-466 {
    background-color: #9370DB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-467 {
    background-color: #3CB371 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-468 {
    background-color: #7B68EE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-469 {
    background-color: #00FA9A !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-470 {
    background-color: #48D1CC !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-471 {
    background-color: #C71585 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-472 {
    background-color: #191970 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-473 {
    background-color: #F5FFFA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-474 {
    background-color: #FFE4E1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-475 {
    background-color: #FFE4B5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-476 {
    background-color: #FFDEAD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-477 {
    background-color: #000080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-478 {
    background-color: #FDF5E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-479 {
    background-color: #808000 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-480 {
    background-color: #6B8E23 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-481 {
    background-color: #FFA500 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-482 {
    background-color: #FF4500 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-483 {
    background-color: #DA70D6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-484 {
    background-color: #EEE8AA !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-485 {
    background-color: #98FB98 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-486 {
    background-color: #AFEEEE !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-487 {
    background-color: #DB7093 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-488 {
    background-color: #FFEFD5 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-489 {
    background-color: #FFDAB9 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-490 {
    background-color: #CD853F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-491 {
    background-color: #FFC0CB !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-492 {
    background-color: #DDA0DD !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-493 {
    background-color: #B0E0E6 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-494 {
    background-color: #800080 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-495 {
    background-color: #663399 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-496 {
    background-color: #FF0000 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-497 {
    background-color: #BC8F8F !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-498 {
    background-color: #4169E1 !important;
    color: rgb(0, 0, 0) !important;
}

.bg-xyz-499 {
    background-color: #8B4513 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-xyz-500 {
    background-color: #FA8072 !important;
    color: rgb(0, 0, 0) !important;
}
 
